#channel_name{style: "display: none;"}<
  = @channel_name
#receiver_pub_key{style: "display: none;"}<
  = @other_user.public_key
.container_ui.clearfix.large-container
  .menu-bar.hidden-menu
    %ul
      %li
        %a#add_friend_btn{href: "#"}
          %i.fa.fa-users
          Add Friend
        %input#add_friend_input{type: "text", placeholder: "Your friend's username", autofocus: "true"}
      %li
        %a{href: "#"}
          %i.fa.fa-times
          Deactivate account
      %li
        %a{href: "#"}
          %i.fa.fa-sign-out
          Sign out
  .container_ui__heading
    .header_icon
      %i.fa.fa-envelope
    %a{href: "/"} 
      Whisper (
      = @user.username
      )
    .menu_icon
      .div
      .div
      .div
  .user-about
    .user-avatar{style: "background-image: url(#{@other_user.gravatar_url})"}
    %h3
      = @other_user.username
  .messages-container
  %textarea.reply-area{placeholder: "Reply"}
  .reply-btn#send_message Send
:javascript
  subscribe($("#channel_name"))