#subscribe_channel{style: "display: none;"}<
  = @user.username
.container_ui.clearfix
  .menu-bar.hidden-menu
    %ul
      %li
        %a#add_friend_btn{href: "#"}
          %i.fa.fa-users
          Add Friend
        %input#add_friend_input{type: "text", placeholder: "Your friend's username", autofocus: "true"}
      %li
        %a{href: "#"}
          %i.fa.fa-times
          Deactivate account
      %li
        = link_to destroy_user_session_path, :method => :delete do
          %i.fa.fa-sign-out
          Sign out
          
  .container_ui__heading
    .header_icon
      %i.fa.fa-envelope
    %a{href: "/"} 
      Whisper (
      = @user.username
      )
    .menu_icon
      .div
      .div
      .div
  - @friends.each do |f|
    %a.message{href: "/c/#{f.username}" }
      .container_ui__item
        .face
          %img{:src => "#{f.gravatar_url}"}
          .color_bar.three
            %p Now Reading
            %span Read
        %h2 
          = f.username
        %h4 Lorem ipsum dolor sit amet...
:javascript
  subscribe()